

<ion-content class="ion-padding">
  <div> 
  <ion-title> Bienvenu dans mon App</ion-title>
  inscrir puur accèder
  </div>
  <ion-button>Connexion</ion-button>
  
 <form>
<div class="ion-padding"> 
  <ion-item>
    <ion-input> </ion-input>
    <ion-icon name="person-outline"> </ion-icon>
  </ion-item>

   <ion-item>
    <ion-input> </ion-input>
    <ion-icon name="lock-closed-outline"> </ion-icon>
  </ion-item>
<div> 
  <a [routerLink]="['/reset-password']"> Oublier le mot de passe</a>
</div>
  </div>
  </form>
  </ion-content>