<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil" href="/tabs/accueil">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="etudiants" href="/tabs/etudiants">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Étudiants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="enseignants" href="/tabs/enseignants">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Enseignants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notes" href="/tabs/notes">
      <ion-icon aria-hidden="true" name="school-outline"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="absences" href="/tabs/absences">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Absences</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="emploi" href="/tabs/emploi">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>Emploi du temps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deliberation" href="/tabs/deliberation">
      <ion-icon aria-hidden="true" name="trophy-outline"></ion-icon>
      <ion-label>Délibération</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>